PORTAL_URL=https://miportal.alexanderfleming.org
PORTAL_PATIENT_ID=IAF6612
PORTAL_DNI=23477001
CLAUDE_API_KEY=your_claude_api_key_here
APP_PASSWORD=medagent2024
JWT_SECRET=medical_jwt_secret_change_in_production
JWT_EXPIRE_HOURS=72
STUDIES_DIR=/data/studies
